.card{
    width: 300px;
    margin: 15px;
    padding: 10px;
    border: solid #8a2be2;
    border-radius: 10px;
    box-shadow: 0 0 10px #8a2be2;
}
    // box-shadow: ;
.card-title{
    font-size: 2rem;
}
.card-description{
    font-size: 1rem;
}
button{

}
img{
    height: 200px;
    width: auto;
}