.card{
    width: 300px;
    margin: 15px;
    padding: 10px;
    border: solid #8a2be2;
    border-radius: 10px;
    box-shadow: 0 0 10px #8a2be2;
}

.card-title{
    font-size: 2rem;
}

.card-description{
    font-size: 1rem;
}
button{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
    background-color: #8a2be2;

}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}
button::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition: all 0.2s;
}

button:active,
button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

img{
    height: 200px;
    width: auto;
}