/* colors */
:root {
  --violet: hsl(263, 55%, 52%);
  --grayish-blue: #48556a;
  --dark-blackish-blue: #19212e;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--light-grayish-blue);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

@media (max-width: 925px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    }
    
    .testimonial-1 { grid-area: 1 / 1 / 2 / 3; }
    .testimonial-2 { grid-area: 1 / 3 / 2 / 4; }
    .testimonial-5 { grid-area: 2 / 1 / 3 / 4 !important; }
    .testimonial-3 { grid-area: 3 / 1 / 4 / 2 !important; }
    .testimonial-4 { grid-area: 3 / 2 / 4 / 4 !important; }
}

@media (max-width: 700px) {
  .parent {
    display: flex !important;
    flex-direction: column;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.testimonial-1 {
  color: var(--white);
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--violet);
}

.testimonial-2 {
  color: var(--white);
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--grayish-blue);
}

.testimonial-5 {
  color: var(--grayish-blue);
  grid-area: 1 / 4 / 3 / 5;
  background-color: var(--white);
}
.testimonial-5 > .review{
  color: var(--dark-blackish-blue);
}

.testimonial-3 {
  color: var(--grayish-blue);
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--white);
}
.testimonial-3 > .review{
 color: var(--grayish-blue);
}

.testimonial-4 {
  color: var(--white);
  grid-area: 2 / 2 / 3 / 4;

  background-color: var(--dark-blackish-blue);
}

.review-container {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.review-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.profile {
  display: flex;
}

.profil-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote{
  font-size: 1.2rem;
  margin: 10px 0px 
}

.review{
  font-size: .7rem;
  color: var(--light-gray)
}